<style>
input[type=number] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=number]:focus {
  border: 3px solid #555;
}
</style>


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <div class="content">

        <div class="container-fluid">


          <div class="row">

            <div class="col-md-8">
              <div class="card">
                <div class="card-header ">
                  <div class="row">
                    <h4 class="card-title">Stock Profile</h4>
                      <button id="show_hist" class="btn btn-primary btn-round" style="position: absolute; right: 20px;">Show Price History</button>
                  </div>
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <tbody>
                    <tr>
                      <td>
                        Company Name:
                      </td>
                      <td >
                        {{company_name}}
                      </td>
                      <td>
                        Industry:
                      </td>
                      <td >
                        {{industry}}
                      </td>
                    </tr>

                    <tr>
                      <td>
                        Data Collected From:
                      </td>
                      <td>
                        {{profile_dic['start_date']}}
                      </td>
                      <td>
                        Start Price:
                      </td>
                      <td>
                        {{profile_dic['start_price']}}
                      </td>
                    </tr>

                    <tr>
                      <td>
                        Data Collected Till:
                      </td>
                      <td>
                        {{profile_dic['end_date']}}
                      </td>
                      <td>
                        Close Price:
                      </td>
                      <td>
                        {{profile_dic['end_price']}}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Historical Volatility (σ):
                      </td>
                      <td>
                         {{profile_dic['sigma']}}
                      </td>
                      <td>
                        Mean Close Price (μ):
                      </td>
                      <td>
                        {{profile_dic['mean_close']}}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        log return σ:
                      </td>
                      <td>
                        {{profile_dic['log_sigma']}}
                      </td>
                      <td>
                        log return μ:
                      </td>
                      <td>
                        {{profile_dic['log_mean']}}
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div id="place_for_chart"></div>

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

                <script>



                $("#show_hist").click(function(){
                var value = {{ comp|tojson}}

                alert(value);
                    $.ajax({
                      url: "/show_history",
                      type: "get",
                      data: {jsdata: value},
                      success: function(response) {
                        $("#place_for_chart").html(response);
                      },
                      error: function(xhr) {
                        //Do Something to handle error
                      }
                    });
                });
                </script>
          </div>


          <div><b>Parameters</b></div>
          <div class="row">
            <div class="col-md-8">

              <div class="card card-stats">

                <div class="card-header card-header-warning card-header-icon">

                  <div class="card-icon">
                     <i class="material-icons">trending_flat</i>
                  </div>
                  <p class="card-category">Trading specific</p>
                  <h4 class="card-title">Stock Parameters</h4>
                    <div class="card-body>">
                      <div class="card-body table-responsive">
                          <table class="table table-hover" style="color:black;">
                            <tbody>
                            <tr>
                              <td>
                                  <b>Alpha Value (α)</b>
                              </td>
                              <td >
                                  {{parameter_dic['alpha']}}
                              </td>
                              <td>
                                  <b>Delta Value (σ)</b>
                              </td>
                              <td >
                                  {{parameter_dic['delta']}}
                              </td>
                                <td>
                                    <b>ADTV</b>
                                </td>
                                <td>
                                    {{parameter_dic['adtv']}}
                                </td>
                            </tr>
                            <tr>
                              <td><b>Sigma</b></td>
                              <td>{{extra_dic['sigma']}}</td>
                              <td><b>Gamma</b></td>
                              <td>{{extra_dic['gamma']}}</td>
                              <td><b>Eta</b></td>
                              <td>{{extra_dic['eta']}}</td>
                            </tr>
                            </tbody>
                          </table>
                    </div>


                </div>
                <div class="card-footer">
                  <div class="stats">
                    <p>footer</p>
                  </div>
                </div>
              </div>
            </div>

              <!--
            <div class="col">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">timeline</i>
                  </div>
                  <p class="card-category">Non-linear </p>
                      <div id="gjson"></div>
                  <h3 class="card-title">Content</h3>
                </div>x

                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i> Last 24 Hours
                    <p>footer</p>
                  </div>
                </div>
              </div>
            </div>-->

          </div>


            <div></div>
          <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">How many shares do you want to sell?</h4>

                </div>
                <div class="card-body">
                  <form method="get" id="form_for_num_shares">

                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <input type="number" id="num_share" required>
                          <label class="bmd-label-floating"> Shares</label>

                          <input type="number" step="0.00001" id="spread" required>
                          <label class="bmd-label-floating">Bid Ask Spread</label>

                          <input type="number" step="0.01" id="lamb" >
                          <label class="bmd-label-floating"> Lambda ( * Optional)</label>

                          <input type="number" id="days">
                          <label class="bmd-label-floating"> Total Days ( * Optional)</label>
                        </div>
                      </div>
                    </div>


                    <button type="submit" class="btn btn-primary pull-left">Submit</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>

          <div id="place_for_sales"></div>

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

                <script>

                $("form").on("submit", function(e){
                e.preventDefault();

                var num = $('#num_share').val();
                var spread = $('#spread').val();
                var value = {{ comp|tojson}}
                var lamb = $('#lamb').val();
                var days = $('#days').val();

                    $.ajax({
                      url: "/get_num_shares",
                      type: "get",
                      data: {jsdata: value, num: num, lamb: lamb, days: days, spread: spread},
                      success: function(response) {
                        $("#place_for_sales").html(response);
                        console.log(data);
                      }

                    });
                });
                </script>
          </div>
        </div>
      </div>

<footer>
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script type="text/javascript">
        var graph = {{graphJSON | safe}};
        Plotly.plot('gjson', // the ID of the div, created above
                        graph.data,
                        graph.layout || {});

    </script>
</footer>